.cardWrapper { 
    margin-top: 4em;
  width: 100%;
  perspective: 2000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cardContainer {
    opacity: 80%;
}

.bottomContainer {
  display: flex;
  flex: 0.8;
  padding: 0 1em;
}

@media (max-width: 970px) {
    .cardWrapper {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }

    .cardContainer {
        margin-bottom: 3em;
    }
}