.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Maven Pro", sans-serif;
}

.landing--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.landing--img {
  position: absolute;
  left: 27%;
  transform: translateX(-50%);
  height: 700px;
  margin-bottom: 45px;
}

.landing--container-left {
  flex: 35%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.lcl--content {
  margin: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.landing--social {
  font-size: 35px;
  margin: 0 1rem;
  transition: transform 0.5s;
}

.landing--social:hover {
  transform: scale(1.2);
}

.landing--container-right {
  flex: 65%;
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.lcr--content {
  position: relative;
  width: 45%;
  margin-right: 3rem;
  font-family: var(--primaryFont);
  font-style: normal;
  z-index: 9;
}

.lcr--content h6 {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: -0.85rem;
  opacity: 0.8;
}

.lcr--content h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 110%;
  margin: 1rem 0;
}

.lcr--content p {
  margin-top: 1.45rem;
  font-weight: 500;
  font-size: 1.15rem;
  opacity: 0.7;
}

.lcr-buttonContainer {
  margin-top: 2rem;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

.resumeBtn {
  color: #15DB95;
  background-color: transparent;
  border-radius: 30px;
  text-transform: inherit;
  text-decoration: none;
  width: 150px;
  font-size: 1rem;
  font-weight: 600;
  height: 50px;
  font-family: var(--primaryFont);
  border: 3px solid #15DB95;
  transition: 300ms ease-out;
  cursor: pointer;
}

.resumeBtn:hover {
  background-color: rgb(29, 29, 29);
}

.contactBtn {
  background-color: #15DB95;
  color: black;
  border-radius: 30px;
  text-transform: inherit;
  text-decoration: none;
  width: 150px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--primaryFont);
  border: 3px solid #15DB95;
  transition: 300ms ease-out;
  cursor: pointer;
  }

.contactBtn:hover {
  background-color: rgb(29, 29, 29);
  color: #15DB95;
  border: 3px solid #15DB95;
}

.wave {
  position: absolute;
  z-index: 6;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 5;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 500px;
  z-index: 5;
}

.wave {
  /* gradient and fallback color */
  fill: url(#my-cool-gradient) #447799;
  z-index: 5;
}

.wave2 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 6;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 500px;
  z-index: 6;
}

.wave2 {
  /* gradient and fallback color */
  fill: url(#my-cool-gradient-2) #447799;
  z-index: 6;
}

@media (max-width: 1150px) {
  .landing--img {
    position: absolute;
    left: 24%;
    transform: translateX(-50%);
    height: 550px;
    width: 400px;
    margin-bottom: 45px;
  }
}

@media (max-width: 1100px) {
  .landing--img {
    --img-size: 350px;
  }
  .lcl--content {
    margin: 2rem;
  }

  .lcr--content h6 {
    font-size: 1.1rem;
  }

  .lcr--content h1 {
    font-size: 3rem;
  }

  .lcr--content p {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
  }

  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }
}

@media (max-width: 1000px) {
  .lcr--content h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  .landing--img {
    --img-size: 300px;
  }

  .landing--social {
    font-size: 30px;
  }
  .lcr--content {
    margin-top: 10%;
    margin-right: 6%;
  }
  .lcr--content h1 {
    font-size: 2.5rem;
  }
  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }
  .lcr-buttonContainer button:nth-child(2) {
    display: none;
  }
}

@media (max-width: 775px) {
  .lcr--content h1 {
    font-size: 30px !important;
  }
  .lcr--content {
    margin-right: 1.5rem;
  }
}

@media (max-width: 600px) {
  .lcr--content h1 {
    font-size: 24px !important;
  }
  .landing--container {
    flex-direction: column;
    justify-content: space-between;
  }
  .landing--container-right {
    padding: 0px 0px !important;
  }
  .landing--img {
    height: 200px;
    width: 150px;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
    border-radius: 38%;
  }
  .landing--container-left {
    flex: initial;
    width: 100%;
    height: 30%;
  }
  .landing--social {
    display: none;
  }
  .landing--container-right {
    box-sizing: border-box;
    padding: 0 2rem;
    flex: initial;
    height: 70%;
    width: 100%;
    background-color: #eaeaea;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }
  .lcr--content {
    margin-top: 80%;
    margin-right: initial;
    width: 100%;
  }
  .lcr--content .typed-header {
    display: block;
    font-size: 1rem;
    text-align: center;
  }
  .lcr--content h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .lcr--content p {
    font-size: 0.95rem;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
  .lcr-buttonContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resumeBtn {
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: rgb(114, 114, 114);
    border: 1px solid #15DB95;
  }
}

@media (max-width: 500px) {
  .lcr--content {
    margin-top: 475px;
  }
}

@media (max-width: 420px) {
  .lcr--content {
    margin-top: 115%;
  }
}

@media (max-width: 380px) {
  .lcr--content {
    margin-top: 135%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  .landing {
    height: 100%;
  }

  .landing--img {
    --img-size: 150px;
    left: 50%;
    top: 20%;
  }
}


